body {
    margin: 0;
    background-color: lightgrey;
    width: 100%;
}

header {
    background-color: rgb(122, 118, 118);
    width: 100%;
    height: 20vh;
    margin: auto;

}

main {
    background-color: white;
    width: 75%;
    height: 750px;
    margin: auto;

}

footer {
    background-color: rgb(122, 118, 118);
    width: 75%;
    height: 7vh;
    margin: auto;
}
