
body {
    margin: 0;
    padding: 25px;
}

.one{
    border: solid 5px black;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;

}

.rectangle1 {
    height: 100px;
    width: 25px;
    background-color: purple;
}

.rectangle2 {
    height: 150px;
    width: 300px;
    background-color: green;
    margin: 0 50px;
}



.circle {
    background-color: rgb(35, 209, 215);
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.two {
    margin-top: 20px;
    border: 5px dotted black;
    padding: 25px;
}

.rectangle3 {
    background-color: blanchedalmond;
    height: 150px;
    width: 100%;
    box-shadow: 4px 4px;
}

.three {
    margin-top: 20px;
    border: 1px solid lightgray;
    height: 250px;
    width: 50%;
    box-shadow: 4px 4px;
    color: lightgray;
    position: relative;
    left: 260px;
    padding: 60px;
}

.words{
    padding-top: 70px;
    text-align: center;
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}
