body {
    margin: 0;
}

header {
    background-color: lightgray;
    width: 100%;
    height: 10vh;
}

.header-square {
    background-color: rgb(21, 160, 206);
    height: 50px;
    width: 50px;
    position: relative;
    top: 12px;
    left: 12px;
}

.word-block {
    padding: 35px;
}

.color1 {
    height: 30vh;
    /* width: 100%; */
    background-color: rgb(21, 160, 206);
}

.color2 {
    height: 30vh;
    background-color: aquamarine;

}

.color3 {
    height: 30vh;
    background-color: rgb(170, 170, 52);
}

.color4 {
    height: 30vh;
    background-color: rgb(220, 220, 133);
}
